<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：理解成实现类的全路径（包名+类名）-->
<mapper namespace="com.milulost.telegram_display.mapper.ChannelMapper">
    <select id="findAllByUserId" resultType="channel">
        select * from channel where user_id = #{userId}
    </select>

    <select id="findAllByUserIdByPage" resultType="channel">
        select * from channel where user_id = #{userId} limit #{start}, #{limit}
    </select>

    <select id="findUserByChannelId" resultType="Integer">
        select user_id from channel_user where channel_id = #{channelId}
    </select>

    <select id="findUserByChannelIdByPage" resultType="Integer">
        select user_id from channel_user where channel_id = #{channelId} limit #{start}, #{limit}
    </select>
</mapper>