<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：理解成实现类的全路径（包名+类名）-->
<mapper namespace="com.milulost.telegram_display.mapper.ChatMapper">
    <select id="findAll" resultType="message">
        select * from message where (to_id = #{userId} and from_id = #{chatUserId}) or (from_id = #{userId} and to_id = #{chatUserId})
    </select>

    <select id="findFromIdByUserId" resultType="Integer">
        select distinct from_id from message where to_id = #{userId}
    </select>

    <select id="findToIdByUserId" resultType="Integer">
        select distinct to_id from message where from_id = #{userId}
    </select>
</mapper>