<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：理解成实现类的全路径（包名+类名）-->
<mapper namespace="com.milulost.telegram_display.mapper.ContactMapper">
    <select id="findByUserId" resultType="Integer">
        select contact_user_id from contact where user_id = #{userId}
    </select>

    <select id="findByUserIdByPage" resultType="Integer">
        select contact_user_id from contact where user_id = #{userId} limit #{start}, #{limit}
    </select>
</mapper>