<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：理解成实现类的全路径（包名+类名）-->
<mapper namespace="com.milulost.telegram_display.mapper.PhoneMapper">
    <select id="findAll" resultType="phone">
        select * from phone;
    </select>

    <insert id="insert" parameterType="phone">
        insert into phone (phone, status, category) values (#{phone.phone}, #{phone.status}, #{phone.category})
    </insert>

    <delete id="delete" parameterType="String">
        delete from phone where phone = #{phone}
    </delete>
    
    <select id="findPhoneByPage" resultType="phone">
        select * from phone limit #{start}, #{limit};
    </select>
</mapper>